.container-input{
    display: flex;
    align-items: center;
}

.imagem{
    position: absolute;
    height: 3vh;
    margin-left: 1vw;
}


.container-input input{
    border-radius: 30vh;
    border: none;
    padding: 0.7vh 2vw 0.7vh 3vw;
    outline: none;
    background-color: #E4E3E0;
    font-size: 2vh;
    font-family: "Product-Sans";
    color: #4a4948;
}
input::placeholder{
    color: #7C7A77;
}

.datalist {
    max-height: 200px;
    overflow-y: auto;
  }
  
