.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content h1{
  font-size: 7vh;
  margin: 0;
  padding: 0;
}
.content p{
  font-size: 2vh;
  margin: 0;
  padding: 0;
  font-family: "Product-sans";
}

.container{
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #EBE9E6;
  padding: 5vh 0;
  width: 30vw;
  border-radius: 5vh;
  gap: 6vh;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}

.logo{
  position: absolute;
  left: 5vw;
  bottom: 10vh;
}

.background-img{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
  justify-content: end;
}

.background-img img{
  width: 25vw;
}

.botoes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}