.input-responsive {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.input-responsive label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-responsive input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #F8F7F4;
}
