.content{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 82vw;
    flex-wrap: wrap;
}

.pesquisa{
    left: 56vw;
    top: 41.2vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 7vh;
    background-color: #3B563C;
    border-radius: 50%;
    cursor: pointer;
}
.pesquisa img{
    height: 4vh;
}

.no-content{
    align-items: center;
    justify-content: center;
    height: 20vh;
    display: none;
}