footer{
    height: 42vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
    justify-content: center;
}

.background{
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100vw;
}


.container{
    margin-bottom: 9vh;
    width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0EFEC;
    opacity: 63%;
    border-radius: 10vh;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18%;
}

.box-img{
    height: 4vh;
    display: flex;
    align-items: start;
    justify-content: center;
}

.box-img img{
    max-width: 6vw;
    cursor: pointer;
}

.separador{
    background-color: #d1cfcd;
    height: 3vh;
    width: 0.2vw;
}


.img1 img{
    height: 41vh;
    display: flex;
    align-items: end;
}

.img2 img{
    height: 35vh;
    display: flex;
    align-items: end;
}